* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
}
h1{
    text-align: center;
    margin: 2rem 0;
}
.container {
    display: flex;
    align-items: stretch;
    justify-items: center;
    flex-wrap: wrap;
    margin: 2rem 2rem;
    gap: 1rem;

}

.card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(25% - 12px);
    box-sizing: border-box;
    border-radius: 1rem;
}

.card h3 {
    margin-bottom: 1rem;
}

.card>ul {
    margin: 0 0 0.5rem 0rem;
    width: 100%;
    color: #525151;
}

.card ul li {
    margin: 0 0 0.5rem 1rem;
}

.card>span {
    background-color: rgb(38, 38, 226);
    padding: .5rem;
    border-radius: .5rem;
    margin: .5rem 0 0 0;
}

.card a {
    color: #FFF;
    text-decoration: none;
}


/* 2. Tablets/Smaller Screens: 2 cards in one line */
@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(50% - 8px);
    }
}

/* 3. Mobile Screens: 1 card per line (Optional) */
@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.card:focus-visible {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    background-color: #1d1818;
}