* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* font-family: 'Calibri' ; */
    /* font-family: 'Cambria'; */
    /* font-family: 'Times New Roman'; */
    /* font-family: Helvetica; */
}

:root{
    font-size: 14px;
}
body,
.container {
    min-height: 100vh;
    background-color: black;
}

.container {
    display: flex;
}

/* left */
.col-left {
    flex: 1;
    background-color: #c5bcbc;
}

.col-left label {
    font-size: 1.2rem;
    display: block;
}

/* mid */
.col-mid {
    flex: 2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    background-color: #fff;
    width: 55%;
    aspect-ratio: 466 / 694;
    padding: 1rem;
}
.page h1 {
    text-align: center;
}

.page > p {
    text-align: center;
    margin-bottom: 1rem;
}

.page .contact{
    margin: .5rem 0;
}

.section{
    margin-top: 1rem;
}

.section h3{
    margin-bottom: .2rem;
}
/* right */
.col-right {
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #c5bcbc;
}



@media (max-width : 968px) {
    .container {
        flex-direction: column;
    }
    .page{
        width: 100%;
    }
}